# Auto detect text files and perform LF normalization
* text=auto

# Files to exclude from archives/releases
docs export-ignore
.gitattributes export-ignore
.gitignore export-ignore
README.md export-ignore
src/src.ino export-ignore
src/extras/extras.ino export-ignore
