# Auto detect text files and perform LF normalization
* text=auto

# Files to exclude from archives/releases
docs export-ignore
documents export-ignore
tools export-ignore
.gitattributes export-ignore
.gitignore export-ignore
src/src.ino export-ignore
src/src/extras/extras.ino export-ignore
